<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

<div id="container">

  <form action="login.html" id="form" method="GET">
      <h2>LOGIN</h2>
      <div class="login">Login<input type="email" placeholder="Digite seu email" required></div>
      <div class="login">Senha<input type="password" placeholder="Digite sua senha" required></div>
       <a href="vendedor/loginvendedor" class="login">Login como vendedor</a>
      <div class="login"><button>Login</button></div>
  </form>

</div>
</body>
</html>