<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<div id="container">

  <form action="" id="form" method="GET">
       <a href="/cliente/deletarusuario" class="login">Deletar Conta</a>
       <a href="/cliente/atualizarcadastro" class="login">Atualizar Conta</a>
       <a href="/cliente/detalhes" class="login">Detalhes da Conta</a>
      <div class="login"><button>Login</button></div>
  </form>

</div>
</body>
</html>